<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>Proyecto</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <style>
          body {
               background: linear-gradient(70deg, #1c4b79 95%, #808080 5%)
          }
          .container {
               margin-top: 50px;
               text-align: center;
               background-color: white;
               border-radius: 10px;
               padding: 20px;
          }
          h1 {
               margin-bottom: 30px;
          }
          .button-container {
               margin-top: 20px;
          }
     </style>
</head>
<body>
     <div class="container">
          <h1>Detector</h1>
          <img src="{{ url_for('video_feed') }}" class="img-fluid">
          <p></p>
          <div class="form-group">
          <div id="myLabel" class="form-control" readonly></div>
          </div>
     <button id="myButton" class="btn btn-primary" disabled>Botón</button>
     <div class="button-container">
               <button onclick="window.location.href = '{{ url_for('registrar') }}';" class="btn btn-primary">Registro</button>
     </div>
     <script>
     document.addEventListener("DOMContentLoaded", function() {
          var label = document.getElementById("myLabel");
          var button = document.getElementById("myButton");

          // Asigna el contenido al label
          label.innerText = "Contenido del Label";

          // Habilita el botón si el label tiene contenido
          button.disabled = label.innerText === "";
     });
</script>

     </script>
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
