<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <title>Proyecto</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <style>
          body {
               background: linear-gradient(70deg, #1c4b79 95%, #808080 5%)
          }
          .container {
               margin-top: 50px;
               text-align: center;
               background-color: white;
               border-radius: 10px;
               padding: 20px;
          }
          h1 {
               margin-bottom: 30px;
          }
          .button-container {
               margin-top: 20px;
          }
     </style>
</head>
<body>
     <div class="container">
          <h1>Mire la camara</h1>
          <img src="{{ url_for('video_reg') }}" class="img-fluid">
     </div>

     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script>
          function redirectToRegistro() {
               var nombre = document.getElementById("nombre").value;
               var url = "registro.html?nombre=" + encodeURIComponent(nombre);
               window.location.href = url;
          }
     </script>

     <div class="container text-center mt-4">
          <a href="#" onclick="goBack();" class="btn btn-secondary">Volver</a>
     </div>

     <div class="button-container text-center mt-4">
               <button onclick="window.location.href = '{{ url_for('index') }}';" class="btn btn-primary">Inicio</button>
          </div>


     <script>
          function goBack() {
               window.history.back();
          }
     </script>
</body>
</html>
